RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteCond %{REQUEST_URI} ^/
RewriteRule ^(.*)$ index.php [QSA,L]


php_flag session.use_cookies on
php_flag session.use_only_cookies on
php_flag session.cookie_httponly on
php_flag session.use_strict_mode on