.admin_wrap {
  margin-top: 15px;
  padding: 0 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.admin_menu {
  padding: 15px;
  border-radius: 10px;
  width: 180px;
  background: rgba(22, 27, 34, 0.8);
}

.admin_menu ul a {
  display: block;
  margin-top: 3px;
  padding: 3px 5px;
  list-style-type: none;
  border-radius: 2px;
  color: #8ad0f8;
  cursor: pointer;
  transition: .3s;
}

.admin_menu ul a.active,
.admin_menu ul a:hover {
  border-left: 4px solid #ba8af8;
  padding: 3px 8px;
  color: #ba8af8;
  background: rgba(0, 0, 0, .3);
}

.admin_main {
  width: calc(100% - 200px);
}

.admin_breadcrumb {
  padding: 8px;
  border-radius: 10px;
  background: rgba(22, 27, 34, 0.8);
  font-size: 14px;
  color: #dee1e2;
}

.admin_content {
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;
  background: rgba(22, 27, 34, 0.8);
}